.fictionbooks1{
        border-radius: 20px 20px 20px 20px;
      }
.image
{
    box-shadow: 4px 4px 4px 4px grey;
    border-radius: 10px 10px 10px 10px;

}


.science1{
  -webkit-column-width: 100%;
}