
/* book Lists */

.book-list {
    list-style: none;       /* Remove bullets */
    display: flex;          /* Put items side by side */
    flex-wrap: wrap;        /* Move to next line if screen is small */
    gap: 20px;              /* Space between items */
    padding: 0;
    justify-content: center; /* Center items */
}

.book-list li {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 15px 15px rgba(20, 19, 19, 0.2);
    width: 240px;           /* Fixed width for all boxes */
    text-align: center;
}

.book-list img {
    width: 100%;            /* Image fills box */
    height: 290px;          /* Same height for all */
    border-radius: 6px;
}

.book-list li:hover{
    height: 390px ;
    transition: transform 0.5s ease;
     transform: scale(1.05);
}
.book-list h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(43, 62, 69);
}

.book-list a {
    text-decoration: none;  /* Remove underline */
    color: inherit;         /* Use normal text color */
}

.book-list p {
  color: #007185;
  padding-top: 5px;
}

/* Footer */
    footer {
      background: #1e1e2f;
    }
    footer h5, footer h6 {
      color: #ffc107;
    }
    footer a:hover {
      color: #0d6efd !important;
    }
    footer .bi {
      font-size: 1.2rem;
      background: #333;
      padding: 8px;
      border-radius: 50%;
      transition: 0.3s;
    }
    footer .bi:hover {
      background: #0d6efd;
      color: #fff;
    }


    
    /* Slider */
    .carousel-item img {
      filter: brightness(70%);
    }
    .carousel-caption h3 {
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    }
    .carousel-caption p {
      font-size: 1.1rem;
    }

    .navbar{
      background-color: #c1cfd3 !important;
      width: 100%;
    }
    body{
      background-color: #e3e7e9 !important;
    }

    .nav-link:hover{
      font-weight: 700;
    }
